#iframe-page .panel-body {
    padding: 30px 10px 20px 10px;
}

/* Force comments to go to bottom if screen width is < 1600px */
@media (max-width:1250px) {
    #iframe-page .col-sm-3, #iframe-page .col-sm-9 {
        float: none;
        width: 100%;
    }
}
@media (min-width:1250px) {
    #iframe-page .col-sm-9 {
        width: 75%;
    }
    #iframe-page .col-sm-3 {
        width: 25%;
        min-width: 250px;
        padding-right: 5px;
        padding-left: 10px;
    }
    #iframe-page #iframe-comments #url-content .col-sm-12 {
        padding-right: 0px;
        padding-left: 0px;
    }
}

#iframe-container {
    width: 1px;
    min-width: 100%;
    height: calc(100vh - 150px);
    border: none;
}
#iframe-page a.like:before {
    font-family: FontAwesome;
    content: "\f164";
}
#iframe-page a.permalink:before {
    font-family: FontAwesome;
    content: "\f0c1";
}

/* if no comments, comment form is hidden */
#iframe-page #url-content .comment-container {
    display: block !important;
}
