/* Never hide sidebar (comments) */
#ew-website .layout-sidebar-container {
    display: block !important;
}

/* Force comments to go to bottom if screen width is < 1250px */
@media (max-width: 1250px) {
    #ew-website .layout-sidebar-container, #ew-website .layout-content-container {
        float: none;
        width: 100%;
    }
}

#ew-page-container {
    width: 1px;
    min-width: 100%;
    height: calc(100vh - 150px);
    border: none;
}

#ew-website a.like:before {
    font-family: FontAwesome;
    content: "\f164";
}

#ew-website a.permalink:before {
    font-family: FontAwesome;
    content: "\f0c1";
}

/* Comment input place holder text is truncated, so make it smaller */
#ew-website #ew-page-addons .ProsemirrorEditor .ProseMirror .placeholder {
    font-size: 0.8em;
    min-height: 20px;
}

/* Comment buttons (attach files and send) below the input field */
#ew-website #ew-page-addons .comment-create-input-group {
    flex-direction: column;
}

#ew-website #ew-page-addons .comment-create-input-group .mb-3 {
    margin-bottom: 3px;
    width: 100%;
}

#ew-breadcrumb .breadcrumb {
    padding: 0;
    margin-bottom: 0;
}
