/* Never hide sidebar (comments) */
#ew-website .layout-sidebar-container {
    display: block !important;
}

/* Force comments to go to bottom if screen width is < 1250px */
@media (max-width:1250px) {
    #ew-website .layout-sidebar-container, #ew-website .layout-content-container {
        float: none;
        width: 100%;
    }
}

#ew-page-container {
    width: 1px;
    min-width: 100%;
    height: calc(100vh - 150px);
    border: none;
}
#ew-website a.like:before {
    font-family: FontAwesome;
    content: "\f164";
}
#ew-website a.permalink:before {
    font-family: FontAwesome;
    content: "\f0c1";
}

/* Comment input place holder text is truncated, so make it smaller */
#ew-website #ew-page-addons .ProsemirrorEditor .ProseMirror .placeholder {
    font-size: 0.8em;
}

/* Force comment form to display even (case where content exists, but have no comment) */
#ew-website #ew-page-addons .comment-container {
    display: block !important;
}